*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a{
  text-decoration: none;
}

h2{
  font-size: 40px;
  font-weight: 700;
}

h3{
  font-weight: 800;
}

h4{
  font-weight: 700;
}

.btn{
  line-height: 20px;
  font-size: 18px;
  padding: 5px 16px;
  color: white;
  background-color: #0061ff;
}

.btn-clean{
  line-height: 20px;
  font-size: 18px;
  padding: 5px 16px;
  border: 1px solid black;
  color: black;
  background-color: white;
}

ul li{
  list-style: none outside;
  
}

/* .nav-hover{
  display: none;
} */

li:hover .nav-hover {
  display: block;
}

.nav-hover {
  position: absolute;
  left:0;
  top:79px;
}


.nav-support-links > li {
  position: relative;
}

header .menu nav .nav-hover li {
  display: block;
}