/* 
    HEADER
*/
header{
    position: fixed;
    height: 80px;
    line-height: 78px;
    background-color: white;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

header .logo{
    margin-left: 20px;
}
header .begin-btn{
    margin-right: 20px;
}

header .logo img{
    vertical-align: middle;
}

header .menu{
    width: 80%;
}

header .menu nav li{
    display: inline-block;
    vertical-align: middle;
}

header .menu nav li a{
    margin: auto 20px;
    color: black;
    font-size: 18px;
}

nav .nav-why-links{
    width: 50%;
}

nav .nav-support-links{
    text-align: right;
    width: 50%;
}

nav .nav-support-links > li:hover{
    border-bottom: 2px solid black;
}


/* -------------------------------- */




/* 
    JUMBOTRON
*/
section.jumbotron{
    margin-top: 80px;
    background-color: #b4d0e7;
}

section .container-jumbo-foot{
    position: relative;
    top: 75px;
}
 
h1{
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 30px;
}

section .col-sx-jumbo-text{
    width: 30%
}

.col-sx-jumbo-text .btn-free-try{
    padding: 30px 0 15px;
}

.col-sx-jumbo-text a i{
    color: #000000;
    margin-top: 30px;
    font-size: 40px;
}

section .jumbo-img{
    width: 66%;
    margin-left: 4%;
}

section .jumbo-img  img{
    width: 100%;
}
/* -------------------------------- */



/* 
    MAIN
*/

/* business plan */
main .business-plan{
    padding-top: 170px;
}

.plans-title h2{
    margin-bottom: 50px;
}

.plans-title .period-plan{
    margin: 0 0 25px;
}

.plans-title .period-plan label{
    margin: 0 25px 0 5px;
}

.business-bottom-col{
    width: 100%;
}

.business-col hr{
    width: 50px;
}
.list-tools h4{
    margin: 40px 0 5px;
}

.list-tools ul li{
    padding: 10px 0;
}

.list-tools ul li::before{
    content: "\2714";
    color: #005fff;
}

main .business-plan .business-col{
    width: calc((100% / 3) - (100px / 3));
    height: 900px;
    margin-bottom: 30px;
}

main .business-plan .center-coll{
    margin: 0 50px;
}

.col-descr{
    padding: 30px;
}

.cost{
    padding: 15px 0 10px;
}

.period{
    color: #60717e;
}

.numbr-accounts, .storage, .tools-plan{
    margin: 20px 0;
}

.business-col .btn{
    margin-top: 35px;
    display: block;
}

.business-col .free-try p{
    line-height: 75px;
}

.business-col .link-buy-now{
    text-decoration: underline;
    color: #005fff;
}

.type-plan{
    padding: 10px;
    border-bottom: 1px solid #d4d4d7;
}

.business-col, .business-bottom-col{
    border: 1px solid #d4d4d7;
}

.business-bottom-col .col-descr .btn{
    padding: 5px 80px;
}

.business-bottom-col .col-descr h4{
    margin: 20px 0 30px 0; 
}
/* /business plan */



/*  find partner */
section.find-partner{
    margin: 100px 0;
}

section.find-partner .box-img{
    width: 60%;
}

.box-text-partner{
    padding: 80px  40px 0 40px;
    width: 40%;
    line-height: 27px;
}

.box-text-partner p{
    margin: 25px 0;
    line-height: 23px;
}

section.find-partner .box-img img{
    width: 100%
}
/* /find partner */


/* operations */
.operations h2{
    margin: 175px 0 100px;
}

.box-operations{
    width: calc((100% / 3) - (100px / 3));
}

.box-middle-operations{
    width: calc((100% / 3) - (100px / 3));
    margin: 0 50px 0;
}

.operations .operations-img img{
    width: 100%;
}

.text-operations p{
    margin: 20px 0;
}
/* /operations */
/* -------------------------------- */

/* teams using dropbox */
.teams-using-dropbox{
    margin-top: 150px;
}

.nbr-teams{
    width: 100%;
    margin-bottom: 40px;
}

.nbr-teams h2{
    margin-bottom: 25px;
}

.nbr-teams a{
    text-decoration: underline;
    font-weight: 600;
    color: #005fff;
}


.all-teams{
    height: 25vw;
}

.col-teams{
    width: 25%;
    height: 100%;
}

.col-teams-centre{
    height: 100%;
    padding: 50px;
    width: 50%;
    overflow: scroll;
    background-color: #f5f5f5;
}

.col-teams-centre::-webkit-scrollbar {
    display: none;
}

.col-teams-centre .logo-team img{
    width: 200px; 
}

.col-teams-centre .descr-team{
    margin: 50px 0 40px;
}

.box-team-img{
    width: 50%;
    height: 50%;
}

.box-team-img img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;  
    filter: invert(1);
}

.box-team-img.designit{
    background-color: #a2d39b;
}

.box-team-img.arizona-uni{
    background-color: #61082b;
}

.box-team-img.florida-uni{
    background-color: #0093ce;
}

.box-team-img.topps{
    background-color: #ff1c1c;
}

.box-team-img.bycicle-relief{
    background-color: #d5001f;
}

.box-team-img.hearths-corp{
    background-color: #b4d0e7;
}

.box-team-img.lonely-planet{
    background-color: #0d2481;
}

.box-team-img.clear-channel{
    background-color: #ffd830;
}

.box-team-img:hover{
    border: 15px solid rgba(255, 255, 255, 0.329);
}
/* /teams using dropbox */

/* sezione grande titolo e button */
.buy-dropbox-business{
    height: 250px;
    background-color: #b4d0e7;
}

.dropbox-business{
   padding-top: 80px;
}

.dropbox-business .float-left{
    width: 50%;
}

.dropbox-business h2{
    color: #61082b;
}

.dropbox-business a{
    padding: 10px 60px;
    border: none;
}
/* /sezione grande titolo e button */
/* -------------------------------- */

/* SECTION FREQUENT QUESTIONS */
.questions-answers .question, .questions-answers h2{
    padding: 30px 0;
    border-bottom: 2px solid #d0d0d4;
}

.questions-answers .container{
    padding: 100px 0;
}

.question .float-left{
    width: 98%;
}

.question p{
    color: #627281;
    padding-top: 30px;
    display: none;
}

.question i{
    text-align: right;
}

.question:hover p{
    display: block;
}

.question:hover i{
    transform: rotate(180deg);
}
/* /SECTION FREQUENT QUESTIONS */



/* 
    FOOTER
*/
footer{
    background-color: #000000;
}

.col-footer, .col-dx-foot, .col-sx-foot{
    width: calc((100% / 5) - 16px);
}

.col-footer{
    margin: 0 10px;
    padding-bottom: 60px;
}

.col-sx-foot{
    margin-right: 10px;
    padding-bottom: 60px;
}

.col-dx-foot{
    margin-left: 10px;
    padding-bottom: 60px;
}

footer .container-jumbo-foot, footer a{
    color: white;
}

footer h4{
    margin: 60px 0 20px;
}

footer a{
    line-height: 25px;
    font-size: 12px;
}

footer hr{
    width: 50px;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

footer .float-left:last-child{
    color: #5a5a5a;
    padding: 35px 0;
}
/* -------------------------------- */