.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 75%;
  margin: 0 auto;
  max-width: 1450px;
}

.container-jumbo-foot{
  width: 80%;
  margin: 0 auto;
  max-width: 1650px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.text-centered{
  text-align: center;
}


/*
  DEBUG
*/

.debg-color{
  background-color: rgba(255, 0, 0, 0.25);
  border: 1px solid black;
}


.h100{
  height: 100px
}

.h300{
  height: 300px
}

.h500{
  height: 500px
}


.box-w5{
  width: calc(100% / 5);
}

.box-w25{
  width: calc(100% / 4);
}

.box-w50{
  width: 50%;
}

.box-w60{
  width: 60%;
}

.box-w40{
  width: 40%;
}

.box-w33{
  width: calc(100% / 3);
}
